@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	h1{
		font-size: 35px;
	}
	h2{
		font-size: 29px;
	}
	h3{
		font-size: 27px;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	h1{
		font-size: 34px;
	}
	h2{
		font-size: 28px;
	}
	h3{
		font-size: 26px;
	}
	h4{
		font-size: 23px;
	}
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	h1{
		font-size: 33px;
	}
	h2{
		font-size: 27px;
	}
	h3{
		font-size: 25px;
	}
	h4{
		font-size: 22px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	h1{
		font-size: 30px;
	}
	h2{
		font-size: 26px;
	}
	h3{
		font-size: 24px;
	}
	h4{
		font-size: 20px;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}