.navbar-nav .nav-item .nav-link{
    color: #fff;
    padding: 10px 30px;
    font-weight: 600;
    transition: 0.5s;
    border-radius: 50px;
}
.navbar-nav .nav-item .nav-link:hover{
    background: #f7173b;
    color: #fff;
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: 600;
}
.carousel-inner {    
    height: 650px;
}
@media (max-width: 575.98px) { 
    .navbar-nav .nav-item .nav-link{        
        border-radius: 0px;
        border-bottom: 1px solid #ff4866;
        color: #f7aeba!important;
    }
    .carousel-inner {    
        height: 250px;
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        position: absolute;
        background: #f7173b;
        z-index: 5;
        /* height: 1120px; */
        left: -500px;
        top: 0;
        width: 60%;
        transition: 0.5s;
    }
    .navbar-collapse.show {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        position: absolute;
        background: #f7173b;
        z-index: 5;
        height: 100vh;
        left: -16px;
        top: 0;
        width: 60%;
        transition: 0.5s;
    }   



 }